In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder\
        .master('local[*]')\
        .appName('test')\
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/01 17:29:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [8]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [6]:
df_green.createOrReplaceTempView('green')

In [35]:
df_green_revenue = spark.sql("""
SELECT
    date_trunc("hour", lpep_pickup_datetime) AS hour,
    PULocationID AS zone,
     

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records

FROM 
    green
WHERE 
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY 
    1,2
--ORDER BY
--    1,2
""")

In [34]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-10 06:00:00| 144|            149.51|             9|
|2020-01-29 03:00:00|  13|            248.89|             6|
|2020-01-13 21:00:00| 255|            108.98|             8|
|2020-01-04 12:00:00| 249| 2245.569999999999|           152|
|2020-01-02 15:00:00| 236| 7382.910000000018|           504|
|2020-01-31 21:00:00|  50|1784.4399999999994|           104|
|2020-01-07 12:00:00|  68| 3046.229999999997|           181|
|2020-01-02 09:00:00| 161|4299.9299999999985|           242|
|2020-01-23 17:00:00| 233| 4642.769999999999|           235|
|2020-01-06 22:00:00| 158| 923.2100000000003|            57|
|2020-01-15 07:00:00|  13|2432.6299999999997|           118|
|2020-01-23 19:00:00| 224|            327.28|            16|
|2020-01-18 00:00:00| 144|2951.2999999999984|           174|
|2020-01-17 19:00:00| 170| 9634.390000000025|           555|
|2020-01-06 08:00:00|  43| 2765.499999999998|           169|
|2020-01-23 22:00:00| 162| 9752.940000000017|           553|
|2020-01-25 21:00:00| 230| 5935.560000000009|           388|
|2020-01-04 02:00:00|  79| 6893.030000000011|           426|
|2020-01-01 01:00:00| 107| 9994.480000000025|           583|
|2020-01-21 18:00:00| 162| 14090.39000000004|           816|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [25]:
df_green_revenue.write.parquet('data/report/revenue/green', mode='overwrite')

In [27]:
# Let's do the same thing for yellow data

df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [28]:
df_yellow.createOrReplaceTempView('yellow')

In [36]:
df_yellow_revenue = spark.sql("""
SELECT
    date_trunc("hour", tpep_pickup_datetime) AS hour,
    PULocationID AS zone,
     

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records

FROM 
    yellow
WHERE 
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY 
    1,2
--ORDER BY
--    1,2
""")

In [33]:
df_yellow_revenue.write.parquet('data/report/revenue/yellow', mode='overwrite')

In [39]:
# Now let's work on joins. Here we would like to create a join using the hour and the zone to have the yellow and green taxi data side by side.

df_green_revenue_tmp = df_green_revenue\
                            .withColumnRenamed('amount','green_amount')\
                            .withColumnRenamed('number_records','green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue\
                            .withColumnRenamed('amount','yellow_amount')\
                            .withColumnRenamed('number_records','yellow_number_records')

In [40]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour','zone'], how='outer')

In [42]:
df_join.write.parquet('data/report/revenue/total')

In [41]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   3|              NULL|                NULL|              25.0|                    1|
|2020-01-01 00:00:00|   4|              NULL|                NULL|1004.3000000000002|                   57|
|2020-01-01 00:00:00|   7| 769.7299999999996|                  45| 455.1700000000001|                   38|
|2020-01-01 00:00:00|  12|              NULL|                NULL|             107.0|                    6|
|2020-01-01 00:00:00|  37|            175.67|                   6|161.60999999999999|                    7|
|2020-01-01 00:00:00|  40|168.97999999999996|                   8|             89.97|                    5|
|2020-01-01 00:00:00|  45|              NULL|                NULL| 732.4800000000002|                   42|
|2020-01-01 00:00:00|  47|              13.3|                   1|               8.3|                    1|
|2020-01-01 00:00:00|  51|              17.8|                   2|              31.0|                    1|
|2020-01-01 00:00:00|  62|             15.95|                   1|             61.43|                    1|
|2020-01-01 00:00:00|  68|              NULL|                NULL| 7825.070000000012|                  396|
|2020-01-01 00:00:00|  73|              NULL|                NULL|              17.3|                    1|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24| 586.2100000000002|                   47|
|2020-01-01 00:00:00|  77| 75.99000000000001|                   2|            134.24|                    3|
|2020-01-01 00:00:00|  80|364.32000000000005|                  13|             371.4|                   20|
|2020-01-01 00:00:00|  83|              94.1|                   7|               9.8|                    1|
|2020-01-01 00:00:00|  88|              NULL|                NULL| 823.8000000000002|                   36|
|2020-01-01 00:00:00|  89|              11.3|                   1|             48.16|                    2|
|2020-01-01 00:00:00|  94| 64.24000000000001|                   3|              13.3|                    1|
|2020-01-01 00:00:00|  95|202.20000000000002|                  15|               6.3|                    1|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [43]:
# on the previous case, we recalculated everything from scratch instead of using the saved data. Let's try with the saved data this time.

df_green_revenue = spark.read.parquet('data/report/revenue/green/')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow/')

In [44]:
df_green_revenue_tmp = df_green_revenue\
                            .withColumnRenamed('amount','green_amount')\
                            .withColumnRenamed('number_records','green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue\
                            .withColumnRenamed('amount','yellow_amount')\
                            .withColumnRenamed('number_records','yellow_number_records')

In [45]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour','zone'], how='outer')

In [46]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [48]:
df_join = spark.read.parquet('data/report/revenue/total')

In [49]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  14|              NULL|                NULL|               8.8|                    1|
|2020-01-01 00:00:00|  15|              NULL|                NULL|             34.09|                    1|
|2020-01-01 00:00:00|  17|195.03000000000003|                   9|220.20999999999998|                    8|
|2020-01-01 00:00:00|  25| 531.0000000000002|                  26|            324.35|                   16|
|2020-01-01 00:00:00|  32| 68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000012|                  390|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|185.64999999999998|                   10|
|2020-01-01 00:00:00|  59|              50.9|                   3|              NULL|                 NULL|
|2020-01-01 00:00:00|  69|              11.8|                   1|            106.52|                    4|
|2020-01-01 00:00:00|  71|              23.8|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|  72|             67.53|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00|  75|278.14000000000004|                  26| 958.3500000000004|                   69|
|2020-01-01 00:00:00|  78|             34.46|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00|  82| 305.1200000000001|                  28|              29.8|                    1|
|2020-01-01 00:00:00|  85|             64.76|                   4|            102.56|                    3|
|2020-01-01 00:00:00|  87|              NULL|                NULL|2456.6699999999987|                  112|
|2020-01-01 00:00:00|  93|              NULL|                NULL|210.28000000000003|                    3|
|2020-01-01 00:00:00| 107|              NULL|                NULL| 6441.030000000006|                  380|
|2020-01-01 00:00:00| 113|              NULL|                NULL| 3984.319999999998|                  220|
|2020-01-01 00:00:00| 116|            328.76|                  18| 561.5100000000001|                   34|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [57]:
!mkdir ${PWD}/data/pq/zone

In [59]:
# Let's now do a join with the zones table. First we need to get it and save it as parquet

!wget -P ${PWD}/data/pq/zone https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-03-01 18:46:30--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250301T184420Z&X-Amz-Expires=300&X-Amz-Signature=4aef5f56276501bb87078ad09c309858c0ebaef9baacf8a0fc853169251dd209&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-03-01 18:46:30--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250301T184420Z&X-Amz-Expires=300&X-Amz-Signature=4aef5f56276501bb87078ad09c309858c0ebaef9baacf8a0fc853169251dd209&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘/home/leo/leo_data_engineering/05-batch/code/data/pq/zone/taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-03-01 18:46:30 (50.5 MB/s) - ‘/home/leo/leo_data_engineering/05-batch/code/data/pq/zone/taxi_zone_lookup.csv’ saved [12322/12322]

In [60]:
!head -n 10 ${PWD}/data/pq/zone/taxi_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [62]:
df = spark.read\
        .option("header","true")\
        .csv('data/pq/zone/taxi_zone_lookup.csv')

In [63]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [64]:
df.write.parquet('data/pq/zones/')

In [66]:
# now that we have the file, let's consume it in a parquet way
df_zones = spark.read.parquet('data/pq/zones/')

In [67]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [69]:
df_result.drop('LocationID').show()

+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|2020-01-01 00:00:00|  14|              NULL|                NULL|               8.8|                    1| Brooklyn|           Bay Ridge|   Boro Zone|
|2020-01-01 00:00:00|  15|              NULL|                NULL|             34.09|                    1|   Queens|Bay Terrace/Fort ...|   Boro Zone|
|2020-01-01 00:00:00|  17|195.03000000000003|                   9|220.20999999999998|                    8| Brooklyn|             Bedford|   Boro Zone|
|2020-01-01 00:00:00|  25| 531.0000000000002|                  26|            324.35|                   16| Brooklyn|         Boerum Hill|   Boro Zone|
|2020-01-01 00:00:00|  32| 68.94999999999999|                   2|              18.0|                    1|    Bronx|           Bronxdale|   Boro Zone|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000012|                  390|Manhattan|        Central Park| Yellow Zone|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|185.64999999999998|                   10| Brooklyn|        Clinton Hill|   Boro Zone|
|2020-01-01 00:00:00|  59|              50.9|                   3|              NULL|                 NULL|    Bronx|        Crotona Park|   Boro Zone|
|2020-01-01 00:00:00|  69|              11.8|                   1|            106.52|                    4|    Bronx|East Concourse/Co...|   Boro Zone|
|2020-01-01 00:00:00|  71|              23.8|                   1|              NULL|                 NULL| Brooklyn|East Flatbush/Far...|   Boro Zone|
|2020-01-01 00:00:00|  72|             67.53|                   2|              NULL|                 NULL| Brooklyn|East Flatbush/Rem...|   Boro Zone|
|2020-01-01 00:00:00|  75|278.14000000000004|                  26| 958.3500000000004|                   69|Manhattan|   East Harlem South|   Boro Zone|
|2020-01-01 00:00:00|  78|             34.46|                   2|              NULL|                 NULL|    Bronx|        East Tremont|   Boro Zone|
|2020-01-01 00:00:00|  82| 305.1200000000001|                  28|              29.8|                    1|   Queens|            Elmhurst|   Boro Zone|
|2020-01-01 00:00:00|  85|             64.76|                   4|            102.56|                    3| Brooklyn|             Erasmus|   Boro Zone|
|2020-01-01 00:00:00|  87|              NULL|                NULL|2456.6699999999987|                  112|Manhattan|Financial Distric...| Yellow Zone|
|2020-01-01 00:00:00|  93|              NULL|                NULL|210.28000000000003|                    3|   Queens|Flushing Meadows-...|   Boro Zone|
|2020-01-01 00:00:00| 107|              NULL|                NULL| 6441.030000000006|                  380|Manhattan|            Gramercy| Yellow Zone|
|2020-01-01 00:00:00| 113|              NULL|                NULL| 3984.319999999998|                  220|Manhattan|Greenwich Village...| Yellow Zone|
|2020-01-01 00:00:00| 116|            328.76|                  18| 561.5100000000001|                   34|Manhattan|    Hamilton Heights|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
only showing top 20 rows

In [70]:
df_result.drop('LocationID','zone').write.parquet('data/tmp/revenue-zones')