In [1]:
import pyspark
from pyspark.sql import SparkSession, functions as F
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

Let's prepare some code to turn into a python script using nbconvert

jupyter nbconvert --to=script 11_spark_local_cluster.ipynb

In [2]:
spark = SparkSession.builder \
    .master("spark://sunlit-instance.europe-west1-d.c.sunlit-amulet-341719.internal:7077") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/02 17:17:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [5]:
# If we try to simply read the data without any extra config, we'll get a message saying there are no workers registered. We need to do that on the terminal
df_green = spark.read.parquet('data/pq/green/*/*')

In [9]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [10]:
df_green = df_green \
            .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
            .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [11]:
df_yellow = df_yellow \
            .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
            .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [12]:
common_columns = [
    'VendorID',
    'pickup_datetime',
    'dropoff_datetime',
    'store_and_fwd_flag',
    'RatecodeID',
    'PULocationID',
    'DOLocationID',
    'passenger_count',
    'trip_distance',
    'fare_amount',
    'extra',
    'mta_tax',
    'tip_amount',
    'tolls_amount',
    'improvement_surcharge',
    'total_amount',
    'payment_type',
    'congestion_surcharge'
]

In [13]:
# Create a column to identify the type of taxi
df_green_sel = df_green \
                .select(common_columns) \
                .withColumn('service_type' , F.lit('green'))

In [14]:
# Create a column to identify the type of taxi
df_yellow_sel = df_yellow \
                .select(common_columns) \
                .withColumn('service_type' , F.lit('yellow'))

In [15]:
# make a union of both datasets
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [16]:
df_trips_data.groupby('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [17]:
df_trips_data.createOrReplaceTempView('trips_data')

In [18]:
df_result = spark.sql("""
SELECT
    -- Revenue grouping 
    PULocationID AS revenue_zone,
    date_trunc("month", "pickup_datetime") AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance

FROM 
    trips_data
GROUP BY 
    1,2,3
""")

In [19]:
df_result.count()

523