In [14]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [15]:
pd.__version__

'1.5.3'

In [16]:
# Let's look at the yellow cab data
!ls

dockerfiles
ingesting_ny_taxi_dataset.ipynb
ny_taxi_postgres_data
pipeline.py
Readme.md
yellow_tripdata_2021-01.csv
yellow_tripdata_2021-01.parquet

In [11]:
'''
They changed the files to parquet format, but it is more complicated to load only a few rows. 
So download as parquet but save as CSV
'''
# df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
# df.to_csv('yellow_tripdata_2021-01.csv', index=False)

df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [13]:
df.shape

(100, 19)

In [7]:
# convert date columns into datetime
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
# Let's make a connection to postgres with pandas
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [13]:
# In order to ingest it to postgres we need to generate a schema
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [47]:
df.shape

(100, 18)

In [14]:
# First create table by running command with a head(n=0), as it will only create the schema
df.head(n=0).to_sql(name="yellow_taxi_data",con=engine, if_exists='replace')

0

In [15]:
# Let's now grab the dataframe with an iterator to batch ingest it into postgres
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [16]:
# Now we do the same, but actually append the chunks of the dataframe iterator

while True:
    t_start = time()
    # get next chunk of dataframe 
    df = next(df_iter) 

    # convert date columns into datetime
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data",con=engine, if_exists='append')
    
    t_end = time()
    
    
    print(f"inserted another chunk..., it took {t_end - t_start :.3f}")

inserted another chunk..., it took 15.880
inserted another chunk..., it took 14.072
inserted another chunk..., it took 15.278
inserted another chunk..., it took 14.991
inserted another chunk..., it took 14.178
inserted another chunk..., it took 13.495
inserted another chunk..., it took 13.886

C:\Users\leo\AppData\Local\Temp\ipykernel_5048\1500876214.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., it took 13.581
inserted another chunk..., it took 13.100
inserted another chunk..., it took 14.130
inserted another chunk..., it took 14.940
inserted another chunk..., it took 14.260

C:\Users\leo\AppData\Local\Temp\ipykernel_5048\1500876214.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., it took 13.340
inserted another chunk..., it took 10.260

StopIteration:

# Ingesting zone lookup table

In [4]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df.shape

(265, 4)

In [8]:
# Let's make a connection to postgres with pandas
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [11]:
print(engine.table_names())

['yellow_taxi_trips']

/tmp/ipykernel_11702/1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [10]:
# In order to ingest it to postgres we need to generate a schema
print(pd.io.sql.get_schema(df,name="ny_taxi_zones",con=engine))

CREATE TABLE ny_taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [12]:
df.to_sql(name="ny_taxi_zones", con=engine, if_exists="replace")

265

In [13]:
print(engine.table_names())

['ny_taxi_zones', 'yellow_taxi_trips']

/tmp/ipykernel_11702/1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [17]:
# let's test getting the data from the new link
import subprocess

URL = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

In [18]:
subprocess.call(["wget", URL, "-O", "test.gz"])

0

In [19]:
testdf = pd.read_csv('test.gz', compression='gzip')

C:\Users\leo\AppData\Local\Temp\ipykernel_16096\826317135.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  testdf = pd.read_csv('test.gz', compression='gzip')

In [20]:
testdf.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5